In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
ipayment = pd.read_csv('.././data/installments_payments.csv')

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
12164920,1692212,446198,1.0,12,-1809.0,-1806.0,1721.250,1721.250
2133661,1080074,179832,1.0,10,-1888.0,-1891.0,4070.430,4070.430
713633,2119711,133990,0.0,101,-108.0,-135.0,13500.000,13500.000
11962497,1674863,447742,1.0,1,-1440.0,-1445.0,52131.600,52131.600
6283996,1492686,267321,1.0,9,-45.0,-55.0,67266.135,67266.135
8293572,2706661,399677,1.0,1,-763.0,-765.0,44131.095,44131.095
4423561,1823140,258956,1.0,12,-393.0,-415.0,9890.370,9890.370
10762635,1336908,363834,1.0,11,-698.0,-693.0,36467.595,34592.670
577728,2805555,198611,0.0,20,-2340.0,-2346.0,9000.000,4500.000
9110678,2408160,384359,1.0,13,-430.0,-430.0,25512.165,25512.165

Installment Payment data shape:(13605401, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  float64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         float64
 5   DAYS_ENTRY_PAYMENT      float64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB

Installment Payment data info:None

In [ ]:
display(ipayment.sample(10))
print(f'\nInstallment Payment data shape:{ipayment.shape}\n')
print(f'\nInstallment Payment data info:')
print(ipayment.info())

In [ ]:
# function to plot missing value percentage
def plot_missing_percentage(df):
    """
    Plot the percentage of missing values for each column in a DataFrame.

    Parameters:
    df (pandas.DataFrame): The DataFrame to process.
    """
    # Calculate the percentage of missing values
    missing = (df.isnull().sum() / len(df)) * 100

    # Create a DataFrame with the results
    percentage_missing = pd.DataFrame({'column': df.columns, 'missing_percentage %': missing.values})
    percentage_missing['missing_percentage %'] = percentage_missing['missing_percentage %'].round(2)
    percentage_missing = percentage_missing.sort_values('missing_percentage %', ascending=False)
    percentage_missing = percentage_missing.reset_index()
    percentage_missing = percentage_missing.drop('index', axis=1)

    # Plot the results
    plt.figure(figsize=(12, 5))
    ax = sns.barplot(x='missing_percentage %', y='column', data=percentage_missing, color='#E1341E')
    for p in ax.patches:
        ax.annotate("%.2f" % p.get_width() + '%', xy=(p.get_width(), p.get_y()+p.get_height()/2),
                    xytext=(8, 0), textcoords='offset points', ha="left", va="center", fontsize=10)
    plt.title('Missing values Percentage for Each Column', fontsize=17, fontweight='bold')
    plt.ylabel('Kolom', fontsize=12)
    plt.xlabel('missing_percentage %', fontsize=12)
    plt.tight_layout()
    plt.xlim(0, 100)
    plt.show()

    # function to drop columns with missing values
def dropna(df, threshold=0.3):
    '''
    Drop columns from a DataFrame where the proprortion of missing values is greater than specified threshold.

    Parameters:
    df: The DataFrame to process
    threshold: The threshold proportion of missing vales. Columns with a proportion of missing values greater than this will be dropped.

    Returns:
    Pandas.DataFrame: The processed DataFrame. 
    '''
    for column in df.columns:
        missing_proportion = df[column].isnull().sum() / len(df)
        if missing_proportion > threshold:
            df = df.drop(column, axis=1)
    return df